body {
  background-image: url("tablecloth.png");
  background-size: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.formSection {
  width: 200px;
  border: 4px solid #000000;
  float: left;
  padding: 5px;
}

.mainForm {

  margin: auto;
  width: 832px;
}

.toppings {
  margin-right: 100px;
  float: left;
}

.toppingsForm{
  border: 4px solid #000000;
  float: left;
  width: 800px;
}

.cartItem
{
  width: 800px;
}

hr.rounded {
  border-top: 8px solid rgb(0, 0, 0);
  border-radius: 5px;
}

h1{
  margin: auto;
}

.orderReview{
  width: 800px;
  max-height: 400px;
  word-wrap: normal;
  overflow-wrap: anywhere;

  background-color: white;
  border: 4px solid #000000;
}
